html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

main {
    width: 100%;
    height: 100%;
}

a {
    font-family:sans-serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#contacto {
    color: #62ABFF;
    background-color: white;
    padding: 10px 20px;
    margin-right: 10%;
    border-radius: 20px;
}

header {
    display: flex;
    width: 100%;
    background-color: #62ABFF;
    height: 80px;
    gap: 5%;
    justify-content: space-between;
    align-items: center;

}

#logo {
    margin-left: 10%;
}

nav {
    display: flex;
    width: 20%;
    gap: 5%;
    padding-right: 20%;
    
}

h1, h2 {
    margin: 0px;
    color: white;
    font-family: sans-serif;
}

h2 {
    font-weight: lighter;
    width: 650px;
    font-size: 290%;
}

h1 {
    font-size: 320%;
    font-weight: bold;
    width: 700px;
}

#banner { 
    width: 100%;

    display: flex;
    flex-direction: column;
   justify-content: center;

}

#mkt-derecha {
    width: 100%;
    height: 100%;

}

#mkt-centrado {
    display: none;
}

#titulo-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 45%;
    gap: 8%;
    position: absolute;
    transform: translateX(20%);
}

#boton-banner, .boton-cursos {
    background-color: white;
    color: #003f5f;
    padding: 20px;
    border-radius: 20px;
    width: 110px;
    font-weight: bold;
    font-size: 16px;
}

#quienes {
    background-color: #62ABFF;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

#quienes-somos {
    color:#003f5f;
    font-size: 120px;
}

#parrafo {
    width: 80%;
    font-size: 36px;
    font-family: sans-serif;
    color: white;
}

#cursos-principal {
    width: 100%;
    height: auto;
    background-color: #003f5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

#titulo-cursos {
    font-size: 100px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 3%;
}

#contenedor-cursos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: auto;
    gap: 5%;
}

#cursos-1, #cursos-2{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 6%;
}

#cursos-2 {
    margin-top: 3rem;
}

.cursos {
    background-color: white;
    width: 30%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 2rem;
}

h3 {
    font-family: sans-serif;
    font-size: 35px;
    color: #003f5f;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.texto-cursos {
    font-family: sans-serif;
    color: #003f5f;
    font-size: 34px;
    text-align: center;
    font-weight: lighter;
    margin: 0px;
    width: 80%;
}

.boton-cursos {
    background-color: #003f5f;
    color: white;
    width: 30%;
    padding: 20px;
    text-align: center;
}

#testimonios-principal {
    min-height: 700px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #62ABFF;

}

#titulo-testimonios {
   text-align: center;
   font-family: sans-serif;
   font-size: 80px;
   margin-bottom: 4%;
}

#contenedor-testimonios {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonios {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: auto;
    padding: 15px;
    border-radius: 35px;
    gap: 5%;
    transition: opacity 0.5s ease;
}

.texto-testi{
    font-family: sans-serif;
    font-size: 30px;
    color: #62ABFF;
    text-align: center;
    width: 90%;
    margin: 0px;
    font-weight: lighter;
}

.testimonios.fade-out {
    opacity: 0;
}

.icono-mayorque{
    height: 100px;
    width: 100px;
    cursor: pointer;
   
}


#contacto-principal {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #003f5f;
}

#mensaje {
    text-align: center;
    font-family: sans-serif;
    font-size: 90px;
    width: 100%;
    margin-bottom: 5%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    gap: 10%;
}

input, textarea{
    background-color: #003f5f;
    border: 2px solid grey;
    color: white;
    width: 60%;
    height: 20%;
    font-family: sans-serif;
    font-size: 24px;
}

textarea {
    height: 40%;
}

button {
    padding: 10px 40px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 32px;
    border: none;
}

button:hover {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.6);
}

footer {
    background-color: #62ABFF;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h2 {
    text-align: center;
}

@media (width < 1500px) {
    #mkt-derecha {
        display: none;
    }

    #mkt-centrado {
        display: block;
    }

    #titulo-info {
        transform: translateX(55%) translatey(110%);

    }

    #azul {
        width: 100%;
        height: 500px;
        background-color: #003f5f;
        
    }
}

@media (width < 1214px) {
    #cursos-1, #cursos-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: auto;
    }
    
    #titulo-info {
        transform: translateX(55%) translatey(80%);
    }

    #cursos-principal {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     
    }

    #contenedor-cursos {
        height: auto;
    }

}

@media (width < 887px) { 
    .cursos {
        width: 271px;
    }
}

@media (width < 430px) {
    #titulo-cursos {
        font-size: 70px;
    }
}


