#contacto {
    width: 99vw;
    height: 80vh;
    background-image: url(../Imagenes/8ukwqzvac2ra1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 20%;
    padding-top: 3%;
}

h1 {
    font-size: 64px;
}

input {
    height: 70px;
    margin-bottom: 5%;
    font-size: 36px;
    font-family: "Kdam Thmor Pro", sans-serif;
}

input::placeholder {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 36px;
    padding: 3%;
    box-sizing: border-box;
}

textarea {
    height: 250px;
    margin-bottom: 5%;
    font-size: 36px;
    font-family: "Kdam Thmor Pro", sans-serif;
}

textarea::placeholder {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 36px;
    padding: 2%;
}

#formulario {
    display: flex;
    flex-direction: column;
}  

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 5%;
    
}

button {
    color: white;
    width: 55%;
    padding: 15px;
    background-color: black;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 36px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

h2 {
    font-size: 64px;
}

span {
    font-size: 30px;
    font-family: "Kdam Thmor Pro", sans-serif;
    color: white;
}

img {
    width: 100px;
    height: 100px;
}

h3 {
    font-size: 36px;
}
