html {
    width: 1850px;
    height: 800px;
}


body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0px;
}

input {
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
}

#svg-pausa {
    display: none;
}

input::placeholder {
    text-align: center;
}

button {
    padding: 0px 50px;
}

#sumadores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 85px;
    margin-top: 15px;
}

#agregar30 {
    width: 200px;
    padding: 15px;
    background-color: rgb(98, 213, 255);
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

#agregar30:hover {
    background-color: white;
}


#agregar60 {
    width: 200px;
    padding: 15px;
    background-color: rgb(98, 213, 255);
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

#agregar60:hover {
    background-color: white;
}

#reiniciar {
    width: 490px;
    padding: 15px;
    background-color: rgb(98, 213, 255);
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

#reiniciar:hover {
    background-color: white;
}


#play {
    height: 50px;
    width: 500px;
    background-color: blue;
    cursor: pointer;
    border-radius: 20px;
}

#play:hover {
    background-color: rgba(0, 0, 255, 0.579);
}

#play svg{
    width: 50px;
    height: 50px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background-color: rgba(0, 255, 255, 0.579);
    gap: 10px;
    padding: 50px;
    border-radius: 30px;
}